html,
body {
    font-family: @baseFont !important;
    font-size: @baseFontSize !important;
    background: @primary;
    color: @white;
}

ul {
    padding: 0;
    list-style: none;
}

button:disabled {
    opacity: 0.3 !important;
    cursor: default;
}

// динамические классы
.border-error {
    border: 2px solid @red !important;
}
.additional-list-open {
    .modal-burger-menu__item-open {
        transition: 0.3s;
        &::after {
            transform: translateY(-50%) rotate(180deg) !important;
        }
    }
}
.header-scroll {
    top: -60px !important;
    .header__bottom {
        background: @op-gray !important;
    }
    @media @md {
        top: 0 !important;
    }
}
.select-dropdown-open {
    .icon {
        transform: rotate(270deg) !important;
    }
}
.current-select {
    position: relative;
    color: @white !important;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid @red;
    }
}
.scroll-animation {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
//

a,
.like-link {
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
    .trs(all);
    @media @notsm {
        &:hover {
            color: @accent !important;
        }
    }
}

img {
    display: block;
    max-width: 100%;
}

.flex,
.flex-c {
    display: flex;
}
.flex-c {
    align-items: center;
}
.sprite-icons {
    display: block;
}

//transitions
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s !important;
}
.fade-enter,
.fade-leave-active {
    opacity: 0 !important;
}

.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &__content {
        flex-grow: 1;
        padding-top: 120px;
        @media @md {
            padding-top: 60px;
        }
    }
    .splide {
        // .is-active + li {
        //     opacity: 1;
        // }
        &__pagination {
            bottom: unset;
            top: 100%;
            margin-top: 16px;
            &__page {
                width: 12px;
                height: 12px;
                margin: 6px;
                &.is-active {
                    transform: none;
                    background: @accent;
                }
            }
        }
        &__slide {
            transition: 0.3s;
        }
        &__arrow {
            width: 50px;
            backdrop-filter: blur(13px);
            background-color: @bg-d-gray;
            cursor: pointer;
            height: 100px;
            border-radius: 0;
            position: absolute;
            transition: 0.3s;
            opacity: 1;
            z-index: 10;
            @media @sm {
                display: none;
            }
            &[disabled] {
                display: none;
            }
            &--prev {
                left: 20px;
            }
            &--next {
                right: 20px;
            }
            svg {
                fill: @white;
            }
        }
    }
}
.container {
    margin: 0 auto;
    width: @siteWidth;
    padding-left: @containerPadding;
    padding-right: @containerPadding;
    flex-grow: 1;
    max-width: 100%;
    &-ignore {
        margin-left: -@containerPadding;
        margin-right: -@containerPadding;
        @media @md {
            margin-left: -@containerPaddingMd;
            margin-right: -@containerPaddingMd;
        }
        @media @sm {
            margin-left: -@containerPaddingSm;
            margin-right: -@containerPaddingSm;
        }
    }
    @media @md {
        padding-left: @containerPaddingMd;
        padding-right: @containerPaddingMd;
    }
    @media @sm {
        padding-left: @containerPaddingSm;
        padding-right: @containerPaddingSm;
    }
}
